PORT=5000
MONGODB_URI=mongodb+srv://santhoshcursor:Sandyyunus03@lmsyunus.u3i9jfr.mongodb.net/lmsyunus
JWT_SECRET=1dFzzfvZO8hX3Z8zUjiPwyRR8INDeCNGMkQhUZ7BBn6d5K95nH
JWT_EXPIRES_IN=7d
CLOUDINARY_CLOUD_NAME=dzwr8crjj
CLOUDINARY_API_KEY=969763164858451
CLOUDINARY_API_SECRET=i6_SV37i2k9ovKPuneflc_CwTFE
RAZORPAY_KEY_ID=rzp_live_XVcuUWMjonpSMU
RAZORPAY_KEY_SECRET=7RnHr21JZ1vJSooCjkQf4Opq
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=santhoshsivaa1@gmail.com
SMTP_PASS=mssnulssiofqeopn
SMTP_FROM=santhoshsivaa1@gmail.com
NODE_ENV=development
CLIENT_URL=http://192.168.219.119:8081
ADMIN_URL=http://192.168.219.119:3000






